<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="swaggerwcf" type="SwaggerWcf.Configuration.SwaggerWcfSection, SwaggerWcf" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <swaggerwcf>
    <tags>
      <!-- Enable disable exposure of APIs -->
      <!-- <tag name="LowPerformance" visible="false" /> -->
    </tags>
    <settings>
      <setting name="InfoDescription" value="Contest APIs" />
      <setting name="InfoVersion" value="1.0.0" />
      <setting name="InfoTermsOfService" value="Terms of Service" />
      <setting name="InfoTitle" value="ContestAPI" />
      <setting name="InfoContactName" value="Mario Toffia" />
      <setting name="InfoContactUrl" value="https://github.com/mariotoffia/api-workshop" />
      <setting name="InfoContactEmail" value="no@mail.com" />
      <setting name="InfoLicenseUrl" value="https://github.com/mariotoffia/api-workshop/blob/master/LICENSE" />
      <setting name="InfoLicenseName" value="Apache License 2.0" />
    </settings>
  </swaggerwcf>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false" />
    <services>
      <service name = "SwaggerWcf.SwaggerWcfEndpoint">
        <endpoint
        address = "http://localhost:40001/"
        binding = "wsHttpBinding"
        contract = "SwaggerWcf.ISwaggerWcfEndpoint" />
      </service>
      <service name = "Contest.Api.ContestService">
          <endpoint
          address = "http://localhost:40001/"
          binding = "wsHttpBinding"
          contract = "Contest.Api.IContestService" />
        </service>
    </services>
  </system.serviceModel>
</configuration>